* {
	padding: 0;
	margin: 0;
}
body {
	background-color: black;
	color: white;
}

#layer1,
#later2 {
	position: absolute;
	top: 0;
	left: 0;
}

#layer1 {
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 0;
}
#layer1 img {
	width: 100%;
	height: auto;
}
.username {
	display: none;
	position: absolute;
	top: 30%;
	width: 100%;
	text-align: center;
	font-family: 'Bree Serif', serif;
	font-weight: bold;
	font-size: 200px;
	z-index: 9999;
}

#layer2 {
	opacity: 0.3;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 100;
}
#layer2 img {
	width: 100%;
	height: auto;
}

@keyframes changewidth {
  from {
    width: 30px;
  }

  to {
    width: 80px;
  }
}

.bubble {
	animation-duration: 0.8s;
	animation-name: changewidth;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	opacity: 0.5;

}